@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}

/* Hide the up and down arrows for number inputs */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}